
:root{
    --color-primario:"#b62e35";
    --color-secundario:"#323433";
    --color-terciario:"#fcfbfc";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}
