@font-face{
    font-family: "test";
    src: url("./fonts/Righteous-Regular.ttf")  format('truetype');
    
}
:root{
    --color-primario:"#b62e35";
    --color-secundario:"#323738";
    --color-terciario:"#323738";
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}
